{% extends 'projetPerso/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ 'styles/footer.css' }}" rel="stylesheet">
    <link href="{{ 'styles/nav.css' }}" rel="stylesheet">
    <link href="{{ 'styles/projetPerso.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Projet Perso{% endblock %}

{% block main %}
    <ul class="container">
        {% for projetPerso in projetPersos %}
            <li class="projet_item">
                <div class="projet">
                    <div><img class="image" src="/uploads/images/{{ projetPerso.image }}"></div>
                    <div class="text">
                        <h2 class="name">{{ projetPerso.name }}</h2>
                        <h2 class="link">{{ projetPerso.link }}</h2>
                        <h3 class="description">{{ projetPerso.description }}</h3>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
