<nav class="nav">
    <a href="{{ path('projetPerso') }}">Projet Perso</a>
    <a href="{{ path('projetEquipe') }}">Projet D'équipe</a>
    <a href="{{ path('index') }}"><img src = "{{ ('images/ballon-basket.jpg') }}" class="image-home" alt="logo home" width="55" height="55"/></a>
    <a href="#">CV</a>
    <a href="#">Loisirs</a>
    {% if app.user %}

        <a href="{{ path('app_logout') }}">Deconnexion</a>

    {% else %}

        <a href="{{ path('app_login') }}">Connexion</a>

    {% endif %}
</nav>
